/* ---------------shared style-------------------- */

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* margin: 0;
    padding: 0; */
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    padding: 20px 24px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;

}

/* .text-gray{
    color: #727272 ; 
} */
/* body {
    margin: 0;
    width: 0;
} */

/* --------------------------header-------------------------- */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* banner style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.bannner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;

}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.banner-img {
    width: 100%;
    margin-top: 70px;
}

/* main */

main {
    max-width: 1440px;
    margin: 70px auto;
}

main>section {
    margin-bottom: 7.5rem;
}



/* team */


.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-img>img {
    max-width: 342px;
    height: 342px;

}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-right: 70px;
    padding-left: 70px;
}

.team-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
    /* 162.5% */
}

.team-title {
    font-size: 2.8rem;
}

.team-title .quick-list {

    color: #727272;
    font-weight: 500;
}

.team-title .team-feature {
    color: #FF900E;
    font-weight: 700;
}

/* card */

.fact-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
    /* 162.5% */
    /* max-width: 542px; */
    margin-bottom: 6rem;
}

.fact-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 124px; */
}


.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    /* font-size: 2.8rem; */
    padding: 30px 30px;
    width: 240px;
    
}
.fact-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.fact-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponcer */
.sponcer-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.sponcer-img-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: invert(50%);
    text-align: center;
    gap: 1.3rem;
}

.sponcer-description {
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    max-width: 542px;
}

.sponcer-img-container img{
    width: 164px;
}





/* responsive */

/* Mobile Devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px
    }

    nav,
    .team-container,
    .fact-card-container,
    .sponcer-img-container

    /*nav > ul*/
        {
        flex-direction: column;
    }

    .team-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content,
    .fact-card-container,
    .sponcer-img-container
    {
        margin-bottom: 1rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .fact-card-container {
        gap: 20px;
    }
}




/* Tablet */

@media screen and (min-width:576px) and (max-width:996px) {

    header {
        padding: 50px
    }

    nav,.sponcer-img-container,
    .team-container,
    .fact-card-container
     {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column-reverse;

    }

    .team-content,
    .fact-card-container,
    .sponcer-img-container
    {
        margin-bottom: 1rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .fact-card-container {
        gap: 20px;
    }

}